{% extends "layout.html" %}

{% block title %}Clients{% endblock %}

{% block main  %}

<section id="input-client">
  <div class="text-center">
    <h2> Novo Cliente </h2>
    <p class="lead">Inserir novo Cliente</p>
  </div>
  <div class="container-md">
    <div class="row justify-content-center">
        <form action="">
          <div class="col-6">
            <label for="company-name" class="form-label" >Nome da Empresa</label>
            <input type="text" class="form-control" id="company-name">
          </div>

          <label for="company-address" class="form-label" >Morada</label>
          <input type="text" class="form-control" id="company-address">

          <label for="postal-code" class="form-label" >Codigo Postal</label>
          <input type="text" class="form-control col-6" id="postal-code">
          <input type="text" class="form-control col-6" id="postal-code">
        </form>
    </div>
  </div>

</section>

{% endblock  %}