{% extends "layout.html" %}

{% block title %}Clients{% endblock %}

{% block main  %}

<div class="container mt-5">
  <h2>Registo de Empresa</h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.nome_empresa.label(class="form-label") }}
      {{ form.nome_empresa(class="form-control") }}
      {% for error in form.nome_empresa.errors %}
      <div class="invalid-feedback d-block">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="mb-3">
      {{ form.nif.label(class="form-label") }}
      {{ form.nif(class="form-control") }}
      {% for error in form.nif.errors %}
      <div class="invalid-feedback d-block">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="mb-3">
      {{ form.endereco.label(class="form-label") }}
      {{ form.endereco(class="form-control") }}
      {% for error in form.endereco.errors %}
      <div class="invalid-feedback d-block">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="mb-3">
      {{ form.codigo_postal.label(class="form-label") }}
      {{ form.codigo_postal(class="form-control") }}
      {% for error in form.codigo_postal.errors %}
      <div class="invalid-feedback d-block">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="mb-3">
      {{ form.localidade.label(class="form-label") }}
      {{ form.localidade(class="form-control") }}
      {% for error in form.localidade.errors %}
      <div class="invalid-feedback d-block">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
      {% for error in form.email.errors %}
      <div class="invalid-feedback d-block">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="mb-3">
      {{ form.telefone.label(class="form-label") }}
      {{ form.telefone(class="form-control") }}
      {% for error in form.telefone.errors %}
      <div class="invalid-feedback d-block">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="mb-3">
      {{ form.website.label(class="form-label") }}
      {{ form.website(class="form-control") }}
      {% for error in form.website.errors %}
      <div class="invalid-feedback d-block">{{ error }}</div>
      {% endfor %}
    </div>
    
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
  </form>
  
  <!-- Mensagens de Flash -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="alert alert-{{ messages[0][0] }}">
    {{ messages[0][1] }}
  </div>
  {% endif %}
  {% endwith %}
</div>


{% endblock  %}