{% extends "layout.html" %}

{% block title %}Clients{% endblock %}

{% block main  %}
<form action="" class="m-auto w-75">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Company Name" aria-label="Company Name" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Company Name" aria-label="Company Name" aria-describedby="basic-addon1">
      </div>
</form>

{% endblock  %}