<div class="container m-auto w-100-sm w-75-md w-25-xl ">
    <div class="">
      <form action="">
        <label for="company-name" class="form-label" >Nome da Empresa</label>
        <input type="text" class="form-control" id="company-name">
        
        <label for="company-address" class="form-label" >Morada</label>
        <input type="text" class="form-control" id="company-address">
        
        <label for="postal-code" class="form-label" >Codigo Postal</label>  
        <div class="d-flex">
          <input type="text" class="form-control" id="postal-code">
          <p class="mx-1 my-0 align-content-center" style="font-size: larger;">-</p>
          <input type="text" class="form-control" id="postal-code">
        </div>
        <label for="tax-payer" class="form-label" >Nº Contribuinte</label>
        <input type="number" class="form-control" id="tax-payer">

        <label for="email" class="form-label" >Email</label>
        <input type="email" class="form-control" id="email">
        
        <input class="btn" type="submit" value="Submeter">
      </form>
    </div>
  </div>