<form action="" class="m-auto">
    <div class="form-p">
      <div class="input-group form-item mb-3">
        <span class="input-group-text span-p" id="basic-addon1">Nome da empresa</span>
        <input type="text" class="form-control" aria-label="name" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text span-p" id="basic-addon1">Morada</span>
        <input type="text" class="form-control" aria-label="address" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text span-p" id="basic-addon1">Código Postal</span>
        <input type="text" class="form-control" aria-label="Código Postal">
        <span class="input-group-text">-</span>
        <input type="text" class="form-control">
      </div>
        <div class="input-group">
          <span class="input-group-text span-p" id="basic-addon1">Contribuinte</span>
          <input type="number" class="form-control" aria-label="Nif" aria-describedby="basic-addon1">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" aria-label="email" aria-describedby="basic-addon1">
        </div>
    </div>
  </form>